navbar(class="navbar navbar-expand-lg navbar-light bg-light px-4 mb-4")
    a(class="navbar-brand" href="/")
        img(width="30" height="30" src='/images/twitterIcon.png')
    button(class="navbar-toggler")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse")
        ul(class="navbar-nav ms-auto")
            li(class="nav-item ")
                a(class="nav-link btn btn-primary btn-tweet text-white" href="/tweets/new") tweet 
            li(class="nav-item")
                a(class="nav-link" href="#") Connexion