extends layout.pug

block content 
    h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Error praesentium esse mollitia sunt. Provident, illo recusandae. Officiis, odio, a deserunt ea ratione inventore at dicta accusamus ullam quo facilis harum.







//- home va prendre les element de layout qui est en quelque sorte son ossature 